td{
/*	border: solid black 1px;*/
	padding: .15em .5em;
}

.colorSwatch{
	padding: .75em 1.5em;
	border-radius: .75em;
	width:2em;
	height: 3em;
	display: inline-block;
	float:left;
	margin-right: .5em;
}

.colorName{
	text-transform: uppercase;
	font-size: .85em;
}

.pantoneName{
	text-transform: uppercase;
	font-size: .75em;
}

/* text colors for color chart*/

.pantoneYellow{
	background-color: #ffdd00;
	color: #ffdd00;
}
.ultraBlue{
	background-color: #000a8b;
	color: #000a8b;
}
.fireRed{
	background-color: #e31837;
	color: #e31837;
}
.violet{
	background-color: #430098;
	color: #430098;
}
.brilliantOrange{
	background-color: #ff4612;
	color: #ff4612;
}
.processBlue{
	background-color: #0082ca;
	color: #0082ca;
}
.emeraldGreen{
	background-color: #00833e;
	color: #00833e;
}
.black{
	background-color: #2e2a25;
	color: #2e2a25;
}
.reflexBlue{
	background-color: #001689;
	color: #001689;
}
.peacockBlue{
	background-color: #005cb9;
	color: #005cb9;
}
.metallicGold{
	background-color: #88714c;
	color: #88714c;
}
.metallicSilver{
	background-color: #8b8d8d;
	color: #8b8d8d;
}
.navyBlue{
	background-color: #002d62;
	color: #002d62;
}
.rhodamineRed{
	background-color: #e70095;
	color: #e70095;
}
.purple{
	background-color: #783cbd;
	color: #783cbd;
}

@media(min-width: 1200px){
	.colorName{
		text-transform: uppercase;
		font-size: 1.25em;
	}

	.pantoneName{
		text-transform: uppercase;
		font-size: .75em;
	}
}